# این فایل را کپی کرده و به نام .env ذخیره کنید

APP_NAME=KNTU RAG Assistant
APP_ENV=development
CORS_ORIGINS=*

UPLOAD_DIR=data/uploads
CHROMA_DIR=data/chroma_db
CHROMA_COLLECTION=kntu_documents
#EMBEDDING_LLM: Import your own Embedding-Model if needed in here
EMBEDDING_MODEL_NAME=nomic-embed-text
EMBEDDING_DEVICE=cpu


# LLM_PROVIDER: Import your own LLM if needed in here
LLM_PROVIDER=openai_compatible
LLM_API_KEY=ollama
LLM_BASE_URL=http://localhost:11434/v1
LLM_MODEL_NAME=aya-expanse:8b-q4_K_S
LLM_TEMPERATURE=0.2
LLM_MAX_TOKENS=800

CHUNK_SIZE=800
CHUNK_OVERLAP=150

TOP_K=4


