#LLM properties
LLM_PROVIDER=ollama
LLM_BASE_URL=http://localhost:11434   
LLM_MODEL_NAME=aya-expanse:8b-q4_K_S
LLM_TEMPERATURE=0.2
LLM_MAX_TOKENS=800

#Embedding system properties
EMBEDDING_MODEL_NAME=nomic-embed-text
EMBEDDING_DEVICE=cpu

#Chunk limits 
CHUNK_SIZE=800
CHUNK_OVERLAP=150
TOP_K=4

#Authorization key
SECRET_KEY=Rtheta